<%- include('partials/header.ejs') %> <%- include('partials/nav.ejs') %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2"><%= pagename %></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Export
        </button>
      </div>
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary dropdown-toggle"
      >
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
  <form action="newlocation" method="POST" class="form-inline">
    <p><b>Create New Location</b></p>
    <div class="input-group">
      <select
        id="locationType"
        class="form-control rounded"
        name="locationType"
      >
        <option value="plant">Plant</option>
        <option value="floor">Floor</option>
        <option value="machine">Machine</option>
      </select>
      <input
        type="text"
        class="form-control rounded"
        id="forPlants"
        placeholder="PLANT"
      />

      <input
        type="text"
        class="form-control rounded"
        id="forFloor"
        placeholder="FLOOR"
      />

      <input
        type="text"
        class="form-control rounded"
        id="forMachine"
        placeholder="MACHINE"
      />

      <button type="submit" class="btn btn-danger rounded" id="submitNew">
        Insert
      </button>
    </div>
  </form>
  <script>
    $("#locationType").change(function () {
      if ($(this).val() == "plant") {
        $("#forPlants").show();
        // $("#otherField").attr("required", "");
        // $("#otherField").attr("data-error", "This field is required.");
      } else {
        $("#forPlants").hide();
        // $("#otherField").removeAttr("required");
        // $("#otherField").removeAttr("data-error");
      }
    });
    $("#locationType").trigger("change");
  </script>
</main>

<%- include('partials/footer.ejs') %>
